extends layout

block content
  #banner.page-header
    .row 
      .col-sm-12.col-md-6
        h1= title          
    .row
      .col-sm-12.col-md-6
        p(align='justify') LocATor is my attempt to create web application using MEAN stack. Building an entire web application from front to back with just one language is now possible, using JavaScript. The MEAN stack is comprised of the best-of-breed technologies in this arena. You’ve got MongoDB for the database, Express for the server-side web-application framework, AngularJS for the client-side framework, and Node for the server-side platform.
        p(align='justify') Full-stack development is very rewarding when you get it right. There are many moving parts to an application and it’s your job to get them working in harmony. The best first step you can take is to understand the building blocks you have to work with and look at the ways you can put them together to achieve different results.
      .col-sm-12.col-md-6
        img.img-responsive.img-rounded(src='https://d21ii91i3y6o6h.cloudfront.net/gallery_images/from_proof/6120/large/1435723400/mean-stack-die-cut.png')

    .row
      .col-sm-12.col-md-6
        p LocATor is my attempt to create web application using MEAN stack. Building an entire web application from front to back with just one language is now possible, using JavaScript. The MEAN stack is comprised of the best-of-breed technologies in this arena. You’ve got MongoDB for the database, Express for the server-side web-application framework, AngularJS for the client-side framework, and Node for the server-side platform.
        p Full-stack development is very rewarding when you get it right. There are many moving parts to an application and it’s your job to get them working in harmony. The best first step you can take is to understand the building blocks you have to work with and look at the ways you can put them together to achieve different results.
      .col-sm-12.col-md-6
        img.img-responsive.img-rounded(src='https://d21ii91i3y6o6h.cloudfront.net/gallery_images/from_proof/6120/large/1435723400/mean-stack-die-cut.png')


