extends layout

block content
  #banner.page-header
    .row 
      .col-sm-12.col-md-6
        h1= title          
    .row
      .col-sm-12.col-md-6
        p(align='justify') #{content}
      .col-sm-12.col-md-6
        img.img-responsive.img-rounded(src='https://d21ii91i3y6o6h.cloudfront.net/gallery_images/from_proof/6120/large/1435723400/mean-stack-die-cut.png')