extends layout

block content
  #banner.page-header
    .row 
      .col-lg-6
        h1 LocATor
          small &nbsp; Find places to work with wifi near you!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') The Captain
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
          p.address Damai Street Krikilan Yogyakarta 55581
          p
            span.label.label-warning Bar
            | &nbsp;
            span.label.label-warning Lounge
            | &nbsp;
            span.label.label-warning Live Music
            | &nbsp;
            span.label.label-warning Wifi

        //.col-xs-12.list-group-item
          h4
            a(href='/location') Banana Crepes
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
          p.address Damai Street 30 New York Avenue
          p
            span.label.label-warning Cafe
            | &nbsp;
            span.label.label-warning Cheap
            | &nbsp;
            span.label.label-warning Windy
            | &nbsp;
            span.label.label-warning No Wifi
    .col-xs-12.col-sm-4
      p.small Looking for wifi and a seat? LocATor helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let LocATor help you find the place you're looking for.
