extends layout

block content
  #banner.page-header
    .row 
      .col-lg-6
        h1 LocATor
          small &nbsp; Find places to work with wifi near you!
    .row
      .col-xs-12.col-sm-8
        .row.list-group
          .col-xs-12.list-group-item
            h4
            p.address Damai Street 29 New York Avenue
            p
      .col-xs-12.col-sm-4
        p.lead Looking for wifi and a seat? LocATor helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let LocATor help you find the place you're looking for.
